:host {
  overflow: hidden;
}

$spinner-width: 5%;

.background {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;

  &__gray {
    display: block;
    max-width: 100%;
  }

  &__image {
    position: absolute;
    mask: url("/assets/background/bg-mask.webp");
    mask-position: 50% 50%;
    mask-size: 83%, auto, contain;
    mask-repeat: no-repeat;
    display: block;
    max-width: 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    top: 0;

    background-image: url("/assets/background/bg.webp"),
      url("/assets/background/bg-particle.webp");
    background-size: 100% auto;
    background-blend-mode: screen;
  }
}
