.header {
  display: flex;
  width: 100vw;
  align-items: center;
  padding: 0 50px;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 100%;

  &__button {
    padding-top: 50px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #ffffff;
    cursor: pointer;
    text-transform: capitalize;

    &:hover {
    }

    &_active {
    }
  }
}

.logo {
  display: block;
  padding: 34px 10px 0;
  cursor: pointer;
}

.switcher {
  display: block;
}
