.header {
  display: flex;
  width: 100vw;
  align-items: center;
  padding: 0 50px;
  background-color: #2b2b2baa;
  box-shadow: 1px 2px 10px #2b2b2b;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 100%;

  &__button {
    font-family: "Aria";
    padding-top: 50px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #ffffff;
    cursor: pointer;
    text-transform: capitalize;
    width: 80px;
    text-align: center;
    border: 2px solid red;

    &:hover {
    }

    &_active {
    }
  }
}

.logo {
  display: block;
  padding: 34px 10px 0;
  cursor: pointer;
}

.switcher {
  display: block;
}
